services:
  mongodb:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=orders
      - MONGO_INITDB_ROOT_USERNAME=mongo
      - MONGO_INITDB_ROOT_PASSWORD=mongo
    volumes:
      - ./docker/initDb.js:/docker-entrypoint-initdb.d/init-db.js:ro
      - mongo_data:/data/db

volumes:
  mongo_data: